body {
    background-color: aqua ;
    background: url(./img/pink-flowers.webp);
    background-repeat:repeat;
    /*background-size: cover;*/
    background-attachment: scroll;
    /*background-position: center center;*/

    /*background: url(./img/taylor-van-riper-yQorCngxzwI-unsplash\ \(1\).jpg) no-repeat fixed center center;
    background-size: 500px;*/
}

.fondo {
    
    /*width: 600px;
    height: 600px;
    background: url(./img/taylor-van-riper-yQorCngxzwI-unsplash\ \(1\).jpg) #000;
    background-repeat: no-repeat;
    background-size: 50% ;*/
}