* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
  width: 1000px;
  background-color: #ccc;
  margin: 20px auto;
}

header {
  background-color: #30323d;
  color: white;
  padding: 20px;
}

.main {
  background-color: white;
  padding: 20px;
  width: 500px;
  float: left;
}

aside {
  background-color: #e8c547;
  color: white;
  padding: 20px;
  width: 500px;
  float: right;
}

footer {
  clear: both;
  background-color: #4d5061;
  padding: 20px;
  color: white;
}
