/*Selector universal
*{color: red;}*/

h1, h2, h3, h4 {
    color: blue;
}
div p{
    font-size: 20px;
    color: blueviolet ;
}
 div p a {
     color: red;
 }
 .grande {
     font-size: 40px;
 }
 .rojo {
     color: red;
 }

