<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Basica</title>
  </head>

  <body>
    <div class="contenedor">
      <header>
        <nav>
          <ul>
            <li>
              <a href="">Inicio</a>
            </li>

            <li>
              <a href="">Acerca de</a>
            </li>

            <li>
              <a href="">Productos</a>
            </li>
            <li>
              <a href="">Contacto</a>
            </li>
          </ul>
        </nav>
      </header>

      <section class="main">
        <div class="imagen">
          <img src="./estacion-en-Japon.jpg" alt="" />
        </div>
        <section>
          <article>
            <h2>Titulo de Articulo</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Provident quidem odio nihil officiis. Explicabo facere modi esse
              et delectus aut, placeat architecto suscipit, atque pariatur
              incidunt accusantium earum? Nostrum, ipsum?
            </p>

            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Provident quidem odio nihil officiis. Explicabo facere modi esse
              et delectus aut, placeat architecto suscipit, atque pariatur
              incidunt accusantium earum? Nostrum, ipsum?
            </p>
          </article>
        </section>
      </section>
      <aside>
        <div class="widget"></div>
        <h3 class="titulo">Articulos destacados</h3>
        <ul>
          <li>
            <a href=""> Lorem ipsum dolor sit </a>
          </li>
          <li>
            <a href=""> Lorem ipsum dolor sit </a>
          </li>
          <li>
            <a href=""> Lorem ipsum dolor sit </a>
          </li>
          <li>
            <a href=""> Lorem ipsum dolor sit </a>
          </li>
        </ul>
        <div class="widget">
          <h3 class="titulo">Informacion</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
            dolore perferendis aut at, ut minus molestiae ea similique et saepe
            itaque excepturi perspiciatis, facilis commodi repellendus ipsa
            temporibus tempore enim.
          </p>
        </div>
      </aside>

      <footer>
        <p>Karla Ojeda 2022 - Todos los Derechos Reservados</p>
      </footer>
    </div>
  </body>
</html>
